@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

*{
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  display: grid;
  grid-template-columns: 360px auto;
  width: 100%;
  height: 100%;
  background-color: #13121F;
}

.Sidebar {
  height: 100vh;
  padding: 24px;
  background-color: #1A1926;
  box-shadow: 0px 8px 10px rgba(19, 18, 30, 0.25), 
              0px 2px 5px rgba(19, 18, 30, 0.5), 
              0px 0px 1px rgba(19, 18, 30, 0.75);
}

.SidebarSection {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.heading {
  display: block;
  font-family: Inter;
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #B8B7C7;
  padding-bottom: 24px;
  width: 100%;
}

.quarter {
  width: calc(25% - 4px);
}

.half {
  width: calc(50% - 4px);
}

.three-quarter {
  width: calc(75% - 4px);
}

.full {
  width: 100%;
}

select, input {
  margin-bottom: 16px;
}

label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 8px;
  color: #DBDAE6;
  width: 100%;
}

.select-div {
  position: relative;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 8px;
  font-size: 16px;
  color: white;
  background-color: #343347;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 8px 10px rgba(19, 18, 30, 0.25), 
              0px 2px 5px rgba(19, 18, 30, 0.5), 
              0px 0px 1px rgba(19, 18, 30, 0.75);
}

select~svg {
  position: absolute;
  right: 8px;
  top: 40px;
}

.input-div {
  position: relative;
}

input {
  width: 100%;
  height: 40px;
  padding: 0 8px;
  font-size: 16px;
  color: white;
  background-color: #343347;
  border: none;
  border-radius: 4px;
}

input::placeholder {
  color: #B8B7C7;
}

select:focus {
  outline: none;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 1px #6256E9;
  transition: all 100ms ease-out;
}

input~.unit {
  position: absolute;
  right: 8px;
  top: 38px;
  color: white;
  opacity: 40%;
}

.Pane {
  display: grid;
  place-items: center;
}

.Element {
  width: 200px;
  height: 200px;
  background-color: #6256E9;
  border-radius: 8px;
  box-shadow: 0px 8px 10px rgba(19, 18, 30, 0.25), 
              0px 2px 5px rgba(19, 18, 30, 0.5), 
              0px 0px 1px rgba(19, 18, 30, 0.75);
}